/* ================ partyIHost.jsp ================ */

/*套版的main*/
main.content {
	max-width: 1000px;
	margin: 0 auto;
}

/*套版的div*/
div.tab-content {
	max-width: 90%;
}

div.option {
	text-align: center;
	margin-top: 10px;
}

div.option button {
	color: #666666;
	margin: 0 5px;
}

h4 {
	text-align: center;
	color: #ffc800; /* #f5df1f*/
	font-weight: bold;
	margin: 20px;
	padding: 20px;
}

/* section.party { */
/* 	margin-top: 20px; */
/* } */

div.partyintro {
	background-color: #e8edf7;
	max-width: 90%;
	margin: 10px auto;
	padding: 10px;
	border-radius: 10px;
}

div.next {
	text-align: right;
}

/* ================  分頁相關  ================ */

div.page {
	color: #d3d3d3;
	text-align: center;
}

div.page select {
	font-size: 14px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: solid 1px #d3d3d3;
}

.page form {
	display: inline;
}