/* ================ partyDetail.jsp ================ */

.main {
	margin: 150px auto 200px;
	width: 750px;
}

h4 {
	text-align: center;
	color: #d3d3d3;
	font-weight: bold;
	margin: 20px;
}

section.alert {
	color: #98f4fc;
	text-align: center;
}

section.party {
	color: #666666;
	background-color: #e8edf7;
	width: 650px;
	margin: 0px auto;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.5);
}

div.partyDetail  {
	padding: 20px;
	max-width: 100%;
}

div.partyDetail img {
	max-width: 100%;
	max-height: 250px;
}
