/* ================ partyList.jsp ================ */

.main {
	margin: 150px auto 200px;
	width: 750px;
}

h4 {
	text-align: center;
	color: #d3d3d3;
	font-weight: bold;
	margin: 20px;
}

section.alert {
	color: #98f4fc;
	text-align: center;
}

section.party {
/* 	border: solid 1px red; */
	margin-top: 20px;
}

div.partyintro {
	background-color: #e8edf7;
	width: 500px;
	margin: 10px auto;
	padding: 10px;
	border-radius: 10px;
}

div.status {
	text-align: right;
}

/* ================  ¤À­¶¬ÛÃö  ================ */

.page {
	color: #d3d3d3;
	text-align: center;
}

.page select {
	font-size: 14px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: solid 1px #d3d3d3;
}

.page form {
	display: inline;
}