<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>UnderWaterProject</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
<!-- 	<error-page> -->
<!-- 		<location>/error.jsp</location> -->
<!-- 	</error-page> -->
	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/UnderWater</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>com.login.controller.LoginFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/party/HostParty.jsp</url-pattern>
		<url-pattern>/party/partyRegister.jsp</url-pattern>
		<url-pattern>/party/partyIHost.jsp</url-pattern>
		<url-pattern>/party/partyIJoin.jsp</url-pattern>
		<url-pattern>/chat/*</url-pattern>
		<url-pattern>/orderforgroup/AddGTOrder.jsp</url-pattern>
		<url-pattern>/orderforgroup/GroupOrder.jsp</url-pattern>
		<url-pattern>/orderforgroup/Success.jsp</url-pattern>
		<url-pattern>/customerreply/CSchat.jsp</url-pattern>
		<url-pattern>/shoppingCar/Checkout.jsp</url-pattern>
		<url-pattern>/member/personinfo.jsp</url-pattern>
		<url-pattern>/member/personchangepwd.jsp</url-pattern>
		<url-pattern>/member/personchange.jsp</url-pattern>
		
		<url-pattern>/forumArticle/fAListOne.jsp</url-pattern>
		<url-pattern>/forumArticle/fAUpdate.jsp</url-pattern>
		<url-pattern>/forumArticle/forumArticle.jsp</url-pattern>
		<url-pattern>/forumArticle/forumArticleInsert.jsp</url-pattern>
		<url-pattern>/forumArticle/forumComment.jsp</url-pattern>
		<url-pattern>/forumArticle/rptForm.jsp</url-pattern>
		<url-pattern>/forumArticle/bFAManage.jsp</url-pattern>
		
		
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>

	 <filter> 
	 <filter-name>WebManagerSystemLoginFilter</filter-name> 
	 <filter-class>com.manager.controller.WebManagerSystemLoginFilter</filter-class> 
	 </filter> 
	 
	<filter-mapping>
		<filter-name>WebManagerSystemLoginFilter</filter-name>
		<url-pattern>/backend.jsp</url-pattern>
		<url-pattern>/diveinfo/diveinfolist.jsp</url-pattern>
		<url-pattern>/diveinfo/updateDiveinfo.jsp</url-pattern>
		<url-pattern>/diveinfo/addDiveinfo.jsp</url-pattern>
		<url-pattern>/news/addNews.jsp</url-pattern>
		<url-pattern>/news/newslist.jsp</url-pattern>
		<url-pattern>/news/updateNews.jsp</url-pattern>
		<url-pattern>/customerreply/CSmanager.jsp</url-pattern>
		<url-pattern>/grouptour/addGT.jsp</url-pattern>
		<url-pattern>/grouptour/updateGT.jsp</url-pattern>
		<url-pattern>/grouptour/backendListGT.jsp</url-pattern>
		<url-pattern>/orderforgroup/backendListAll.jsp</url-pattern>
		<url-pattern>/orderforgroup/updateOrderForGroup.jsp</url-pattern>
		<url-pattern>/qa/addQA.jsp</url-pattern>
		<url-pattern>/qa/backendList.jsp</url-pattern>
		<url-pattern>/qa/updateQA.jsp</url-pattern>
		<url-pattern>/product/bk_listAllProduct.jsp</url-pattern>
		<url-pattern>/member/webManagerSystem.jsp</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>
	
	<servlet>
		<servlet-name>DiveInfoServlet</servlet-name>
		<servlet-class>com.diveinfo.controller.DiveinfoServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DiveInfoServlet</servlet-name>
		<url-pattern>/diveinfo/diveinfo.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>NewsServlet</servlet-name>
		<servlet-class>com.news.controller.NewsServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>NewsServlet</servlet-name>
		<url-pattern>/news/news.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PartyServlet</servlet-name>
		<servlet-class>com.party.controller.PartyServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PartyServlet</servlet-name>
		<url-pattern>/party/party.do</url-pattern>
	</servlet-mapping>

	<!-- 改成Annotation註冊 <servlet> <servlet-name>PartyPic</servlet-name> <servlet-class>com.party.controller.PartyPic</servlet-class> 
		</servlet> <servlet-mapping> <servlet-name>PartyPic</servlet-name> <url-pattern>/party/partyPic.do</url-pattern> 
		</servlet-mapping> <servlet> <servlet-name>PartySchedule</servlet-name> <servlet-class>com.party.controller.PartySchedule</servlet-class> 
		<load-on-startup>1</load-on-startup> </servlet> <servlet-mapping> <servlet-name>PartySchedule</servlet-name> 
		<url-pattern>/PartySchedule</url-pattern> </servlet-mapping> -->



<!-- 論壇註冊相關共5個-->
	<servlet>
		<servlet-name>ArticleTitleOptServlet</servlet-name>
		<servlet-class>com.articleTitleOpt.controller.ArticleTitleOptServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ArticleTitleOptServlet</servlet-name>
		<url-pattern>/articleTitleOpt/articleTitleOpt.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ForumArticleServlet</servlet-name>
		<servlet-class>com.forumArticle.controller.ForumArticleServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ForumArticleServlet</servlet-name>
		<url-pattern>/forumArticle/forumArticle.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ForumCommentServlet</servlet-name>
		<servlet-class>com.forumComment.controller.ForumCommentServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ForumCommentServlet</servlet-name>
		<url-pattern>/forumComment/forumComment.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ArticleReportServlet</servlet-name>
		<servlet-class>com.articleReport.controller.ArticleReportServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ArticleReportServlet</servlet-name>
		<url-pattern>/forumArticle/articleReport.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ForumRateServlet</servlet-name>
		<servlet-class>com.forumRate.controller.ForumRateServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ForumRateServlet</servlet-name>
		<url-pattern>/forumRate/forumRate.do</url-pattern>
	</servlet-mapping>	
	
		
	




	<servlet>

		<servlet-name>MemberServlet</servlet-name>
		<servlet-class>com.member.controller.MemberServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MemberServlet</servlet-name>
		<url-pattern>/member/member.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.login.controller.LoginServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/member/login.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>IdentityServlet</servlet-name>
		<servlet-class>com.member.controller.IdentityServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>IdentityServlet</servlet-name>
		<url-pattern>/member/IdentityServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CheckAccountServlet</servlet-name>
		<servlet-class>com.member.controller.CheckAccountServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CheckAccountServlet</servlet-name>
		<url-pattern>/member/CheckAccountServlet.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ProductServlet</servlet-name>
		<servlet-class>com.product.controller.ProductServletBk</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ProductServlet</servlet-name>
		<url-pattern>/product/product.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>OrderForProductServlet</servlet-name>
		<servlet-class>com.orderforproduct.controller.OrderForProductServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>OrderForProductServlet</servlet-name>
		<url-pattern>/orderforproduct/orderforproduct.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ShoppingCarServlet</servlet-name>
		<servlet-class>com.shoppingcar.controller.ShoppingCarServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ShoppingCarServlet</servlet-name>
		<url-pattern>/shoppingcar/shoppingcar.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>WebManagerSystemLoginServlet</servlet-name>
		<servlet-class>com.manager.controller.WebManagerSystemLoginServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>WebManagerSystemLoginServlet</servlet-name>
		<url-pattern>/member/WebManagerSystemLogin.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MemberListServlet</servlet-name>
		<servlet-class>com.member.controller.MemberListServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MemberListServlet</servlet-name>
		<url-pattern>/member/MemberListServlet.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.login.controller.LogoutServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/member/LogoutServlet.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>WebManagerSystemLogoutServlet</servlet-name>
		<servlet-class>com.manager.controller.WebManagerSystemLogoutServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>WebManagerSystemLogoutServlet</servlet-name>
		<url-pattern>/member/WebManagerSystemLogoutServlet.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MemberInfoServlet</servlet-name>
		<servlet-class>com.member.controller.MemberInfoServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MemberInfoServlet</servlet-name>
		<url-pattern>/member/MemberInfoServlet.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PersonChangeServlet</servlet-name>
		<servlet-class>com.member.controller.PersonChangeServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PersonChangeServlet</servlet-name>
		<url-pattern>/member/PersonChangeServlet.do</url-pattern>
	</servlet-mapping>

</web-app>