<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>UnderWaterProject</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/UnderWater</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

	<servlet>
		<servlet-name>DiveInfoServlet</servlet-name>
		<servlet-class>com.diveinfo.controller.DiveinfoServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DiveInfoServlet</servlet-name>
		<url-pattern>/diveinfo/diveinfo.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PartyServlet</servlet-name>
		<servlet-class>com.party.controller.PartyServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PartyServlet</servlet-name>
		<url-pattern>/party/party.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GroupTourServlet</servlet-name>
		<servlet-class>com.grouptour.controller.GroupTourServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>GroupTourServlet</servlet-name>
		<url-pattern>/grouptour/grouptour.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MemberServlet</servlet-name>
		<servlet-class>com.member.controller.MemberServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MemberServlet</servlet-name>
		<url-pattern>/member/member.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.login.controller.LoginServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/member/login.do</url-pattern>
	</servlet-mapping>
				<servlet>
		<servlet-name>GetImage</servlet-name>
		<servlet-class>com.grouptour.controller.GetImage</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>GetImage</servlet-name>
		<url-pattern>/grouptour/GetImage.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>OrderForGroupServlet</servlet-name>
		<servlet-class>com.orderforgroup.controller.OrderForGroupServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>OrderForGroupServlet</servlet-name>
		<url-pattern>/orderforgroup/orderforgroup.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CollectionsServlet</servlet-name>
		<servlet-class>com.collections.controller.CollectionsServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>CollectionsServlet</servlet-name>
		<url-pattern>/collections/collections.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>IdentityServlet</servlet-name>
		<servlet-class>com.member.controller.IdentityServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>IdentityServlet</servlet-name>
		<url-pattern>/member/IdentityServlet</url-pattern>
	</servlet-mapping>
</web-app>